*{
    padding: 0;
    margin: 0;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    scroll-behavior: smooth;
}
header{
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 10000;
    justify-content:center;
    transition: 0.5s;
    background-color:#EFEFEF;
}
.banner{
    text-align: center;

}
header .txt{
    color: #EFEFEF;
    border-radius: 10%;
    margin-left: 35%;
    margin-right: 35%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 7%;
    padding-bottom: 7%;
    background: url(1b.png); /* Путь к картинке */
    background-repeat: no-repeat; /* Фон не повторяется */
    background-size: cover; /* Растягиваем  фон по высоте и ширине */
    background-position: center; /* Позиция фона по центру */
}
header .half{
    z-index: -1;
    rotate: 30%;
    position: fixed;
    margin-left: 80%;
    margin-top:4%;
    width: 15%;
    transition: 1s;
}
header.sticky .half{
    position:absolute;
    transition: 2s;
    margin-top:80vh;
}
header .line{
    z-index: -1;
    transform: rotate(110deg);
    position: fixed;
    border: none;
    margin-top: 20%;
    width: 40%;
    height: 1%;
    transition: 1s;
    background-color: #aaf8f8;
}
header.sticky .line{    
    position:absolute;
    transition: 1s;
    margin-top: 99vh;
    transform: rotate(180deg);
}
header .link{
    text-decoration: none;
    font-size: 150%;
    color:#111;
    padding:6px;
    border: 1.8px solid #EFEFEF;
    transition: 0.3s;
}
header .link:hover{
    transition: 0.3s;
    border: 1.8px solid #111;
}
header .logo1{
    text-align: center;
}
header .logo{
    width: 15%;
}
.block{
    text-align: center;
    z-index: 99;
    width: 100%;
    background-color: #fff;
    margin-top: 3%;
    opacity: 0;
    transform: translateY(20px);
}
.block.element-show {
    transition: all 0.75s;
    transform: translateY(0px);
    opacity: 1;
}
.log{
    font-size: 200%;
}
.block hr{
    margin-left: 47%;
    margin-right: 47%;
    margin-top: 1%;
    width: 6%;
    height: 2px;
    background-color:grey;
}
.block a{
    text-decoration: none;
    margin-top: 2%;
    font-size: 170%;
    color: #111;
}
.block .tel{
    color: #111;
    margin-right: 25%;
    text-align: left;
}

.block .tg{
    margin-left: 25%;
}
.block li{
    list-style: none;
    padding-top: 1vh;
    font-size: 125%;
    text-align: left;
    margin-left: 4.5%;
    margin-right: 3.5%;
}
.block li::before{
    content: "— ";
}
.t{
    display: inline-block;
}
.map{
    width: 100%;
}
.block ul{
    text-align: center;
    background-color: #EFEFEF;
    padding-top: 2%;
    padding-bottom: 3%;
    padding-right: 4px;
}


  /* 15 */
  .block a {   
    border-left: 4px solid #eee8c6;
    height: 30px;

  }
  .btn-15 {
    height: 20px;
    color: #111;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    margin-top: none;
  }
  .btn-15 {
    background: #fff;
    border: none;
    z-index: 1;
  }
  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 50px;
    top: 0;
    left
    : 0;
    z-index: -1;
    background-color: #eee8c6 ;
    transition: all 0.4s ease;
  }
  .btn-15:hover {
    color: #fff;
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-15:active {
    top: 2px;
  }
  @media screen and (max-width:1000px) {
    header .txt{

        margin-left: 30%;
        margin-right: 30%;
        padding-top: 7%;
        padding-bottom: 7%;
    }
  }
  @media screen and (max-width:950px) {
    header .half{
        display: none;
    }    
    header .line{        
        display: none;
    }  

    header .txt{
        margin-left: 30%;
        margin-right: 30%;
        padding-top: 7%;
        padding-bottom: 7%;
    }
  }
  @media screen and (max-width:900px) {
    header .txt{
        margin-left: 27%;
        margin-right: 27%;
        padding-top: 8%;
        padding-bottom: 8%;
    }
  }
  @media screen and (max-width:800px) {
    header .txt{
        margin-left: 23%;
        margin-right: 23%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
  }
  @media screen and (max-width:600px) {
    header .logo{
        width: 27%;
    }
    header .txt{
        margin-left: 20%;
        margin-right: 20%;
        padding-top: 12%;
        padding-bottom: 12%;
    }
    header .link{
        font-size: 120%;
    }
  }
  @media screen and (max-width:500px) {
    header .link{
        font-size: 100%;
    }
    header .logo{
        width: 30%;
    }
    header .txt{
        margin-left: 10%;  
        margin-right: 10%;
        padding-top: 13%;
        padding-bottom: 13%;
    } 
  }
  @media screen and (max-width:300px) {
    header .link{
        font-size: 90%;
    }
  }

  @media screen and (max-width:480px) {

    header{
        height: 95vh;
    }
  } 
  @media screen and (max-width:440px) {

    header{
        height: 85vh;
    }
  } 